.nav-bar-section {
  width: 80%;
  margin: 0 auto;
  background-color: #d1d2d3;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 20px;
}

.nav-photo {
  background-image: url(./assets/shih-tzu-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.nav-photo:hover,
.nav-link:hover {
  cursor: pointer;
}

.nav-link {
  font-weight: 300;
  font-size: 110%;
  color: #666666;
}

.nav-search {
  width: 225px;
  padding: 10px 45px;
  background-color: #F2F2F2;
  outline: none;
  border: 1px solid #666666;
  font-size: 100%;
  background-image: url(./assets/magnifying-glass.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 0.75em;
}

.menu {
  display: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #666666;
  font-size: 130%;
}

@media (max-width: 1000px) {

  .nav-link {
    font-size: 90%;
  }

  .nav-search {
    width: 175px;
  }
}

@media (max-width: 800px) {

  .nav-collapsed {
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "menu";
    background-color: #F2F2F2;
  }

  .nav-collapsed h3,
  .nav-collapsed input {
    display: none;
  }

  .nav-showing {
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "menu" "nav1" "nav2" "nav3" "search";
    background-color: #F2F2F2;
  }

  .top-nav {
    grid-area: menu;
    background-color: #d1d2d3;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav1 {
    grid-area: nav1;
  }

  .nav2 {
    grid-area: nav2;
  }

  .nav3 {
    grid-area: nav3;
  }

  .nav-search {
    grid-area: search;
    width: 90%;
    padding-left: 17.5%;
    background-color: white;
    margin: 15px auto;
  }

  .nav:hover {
    cursor: pointer;
  }

  .nav-photo {
    height: 60px;
    width: 60px;
  }

  .menu {
    display: inline-block;
  }

  .nav-link {
    padding: 0 15px;
  }

  .nav-link,
  .nav-search {
    font-size: 125%;
  }

}
