/*TURQ: #34D1D1*/
/*DARK PURPLE: #2F2235*/
/*MED PURPLE: #3F3244*/
/*WHITE ISH: #F2F2F2*/
/*LIGHTEST GREY: #d1d2d3*/
/*MED GREY: #666666*/
/*BLACK: #000000*/

/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
}

.header {
  background-color: #2F2235;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pattrn-party {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 150%;
  padding-left: 4%;
}

.party {
  color: #34D1D1;
}

.name {
  color: #fff;
  padding: 12px 0;
  padding-right: 4%;
}

/*REUSABLE*/
.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;

}

.section-title {
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
  margin-left: 4%;
}

.section-line {
  border-bottom: 1px solid #d1d2d3;
  width: 75%;
  margin-right: 4%;
}

.btn {
  color: #fff;
  background-color: #3F3244;
  outline: none;
  padding: 10px;
  width: 25%;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 100%;
  border: none;
  margin: 50px auto;
  display: block;
}

.btn:hover {
  cursor: pointer;
  background-color: #2F2235;
}

@media (min-width: 1280px) {
  .pattrn-party {
    font-size: 250%;
  }

  .name {
    padding: 25px 0;
    padding-right: 4%;
    font-size: 175%;
  }

  .section-title {
    font-size: 175%;
  }

  .btn {
    font-size: 160%;
    padding: 15px;
  }

}

/*REUSABLE MQs*/
@media (max-width: 800px) {

  .section-header {
    flex-direction: column;
  }

  .section-title {
    margin-left: 0;
    padding-bottom: 10px;
  }

  .section-line {
    margin-right: 0;
    width: 10%;
  }

  .btn {
    width: 80%;
    font-size: 125%;
    padding: 10px;
  }
}

/*GLOBAL MQs*/
@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }

  .pattrn-party {
    padding: 10px 0;
    font-size: 200%;
  }

  .name {
    padding-right: 0;
    font-size: 125%;
    border-top: 1px solid #3F3244;
  }
}
